<div id="wrap">
  <div id="header">
    <h1><a href="./">Spiff</a></h1>
    <p id="subtitle"><strong>One-line command to download, unpackage the right Spiff CLI for your machine</strong></p>
  </div>

  <div id="informations">
    <ul>
      <li>
        <div class="group row">
          <div class="col-1">
            <p>Merge a bunch of template files into one manifest, printing it out.</p>
          </div>
          <div class="col-2">
            <pre><code><span style="color: #e3d796;">$</span> <%= cli_name %> merge template.yml \
    [template2.yml ...] > manifest.yml</code></pre>
          </div>
        </div>
      </li>

      <li>
        <div class="group row">
          <h2>Install CLI for OS/X and Linux</h2>
          <pre style="clear:both;text-align:center;margin:0 -3em;margin-bottom:0.9em"><code id="selectable" onclick="selectText()">curl -s <%= request_hostname %>/install.sh | bash</code></pre>
          <div class="col-1">
            <p>Paste that at a Terminal prompt within a folder in your $PATH.</p>
          </div>
          <div class="col-2">
            <p>The script only places the <code><%= cli_name %></code> executable in your current folder.</p>
          </div>
        </div>
      </li>

      <li>
        <div class="group row credits">
          <p>Spiff created by <a href="https://github.com/vito">Alex Suraci</a>. This installer project by <a href="http://starkandwayne.com">Stark &amp; Wayne</a> and <a href="http://drnicwilliams.com">Dr Nic Williams</a>. Original website for <a href="http://brew.sh/">Homebrew</a> by <a href="http://exomel.com">Rémi Prévost</a>. </p>
        </div>
      </li>
    </ul>
  </div>
</div>